In [1]:
import pandas as pd

In [4]:
df_imdb = pd.read_csv("data/IMDB Dataset.csv", sep=',')

In [5]:
df_imdb.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [6]:
len(df_imdb)

50000