In [2]:
import pandas as pd
import numpy as np

In [3]:
# Directory for Colab (optional, use if running Colab)
from google.colab import drive
drive.mount('/content/gdrive/')

Mounted at /content/gdrive/

In [4]:
import os
os.chdir('/content/gdrive/MyDrive/NLP_project')

In [5]:
!pwd

/content/gdrive/MyDrive/NLP_project

In [6]:
from train_test_split import generate_test_set

In [7]:
list_transformers = ['bert', 'roberta']
list_attack = ['textfooler', 'pwws', 'bae', 'tf-adj']

In [9]:
for transformers in list_transformers:
  for attack in list_attack:
    generate_test_set(transformers, attack)

Loading from data/imdb/bert/textfooler/bert-base-uncased-imdb_textfooler.csv
pickle/imdb_bert_test_textfooler.pickle successfully created
Loading from data/imdb/bert/pwws/bert-base-uncased-imdb_pwws.csv
pickle/imdb_bert_test_pwws.pickle successfully created
Loading from data/imdb/bert/bae/bert-base-uncased-imdb_bae.csv
pickle/imdb_bert_test_bae.pickle successfully created
Loading from data/imdb/bert/tf-adj/bert-base-uncased-imdb_tf-adj.csv
pickle/imdb_bert_test_tf-adj.pickle successfully created
Loading from data/imdb/roberta/textfooler/roberta-base-imdb_textfooler.csv
pickle/imdb_roberta_test_textfooler.pickle successfully created
Loading from data/imdb/roberta/pwws/roberta-base-imdb_pwws.csv
pickle/imdb_roberta_test_pwws.pickle successfully created
Loading from data/imdb/roberta/bae/roberta-base-imdb_bae.csv
pickle/imdb_roberta_test_bae.pickle successfully created
Loading from data/imdb/roberta/tf-adj/roberta-base-imdb_tf-adj.csv
pickle/imdb_roberta_test_tf-adj.pickle successfully created

In [10]:
df_roberta_pwws = pd.read_pickle('pickle/imdb_roberta_test_pwws.pickle')
df_roberta_pwws

                                                   text  adversarial
3098  So, I'm wondering while watching this film, di...            1
288   Although not a vainglorious Coen brothers fan,...            1
1686  I am in a movie club at my school and I was fo...            1
5350  The Three Stooges has always been some of the ...            1
8615  (Possible ?? spoilers included, but nothing cr...            1
...                                                 ...          ...
2775  This movie was sooo bad. It wasn't even funny ...            0
9334  Not only unique for its time but one of the gr...            0
2709  Ever once in a while I run into a movie that i...            0
7676  This picture doesn't have any big explosions o...            0
779   This movie stunk. There is not much more to it...            0

[3790 rows x 2 columns]

In [11]:
df_roberta_pwws.adversarial.value_counts()

1    1895
0    1895
Name: adversarial, dtype: int64